[Desktop Entry]
Name=phpMyAdmin
Comment=MySQL management over web
Exec=sensible-browser http://127.0.0.1:8082/phpmyadmin/
Terminal=false
Type=Application
Icon=phpmyadmin
Categories=Development;Database;
