Django
Fabric
Cheetah
MySQL-python
PIL
South
Markdown
SQLAlchemy
django-compressor
django-debug-toolbar
Flask
gunicorn
pyflakes
python-dateutil
python-memcached
html5lib
ipython
beautifulsoup4
py-bcrypt
pyOpenSSL
pycparser
pycrypto
pycurl
requests
uWSGI
unicodecsv
django-nose
django-admin-tools
django-admin-utils
django-adminactions
django-celery
django-crispy-forms
django-extensions
django-floppyforms
django-timedeltafield
django-uwsgi-admin2
django-bootstrap-toolkit
django-bootstrap3